COMPOSE_PROJECT_NAME=lingxi_portal

MYSQL_ROOT_PASSWORD=change-me-root-password
MYSQL_HOST=localhost
MYSQL_DATABASE=lingxi_portal
MYSQL_USER=lingxi
MYSQL_PASSWORD=change-me-app-password
MYSQL_PORT=3306

DATABASE_URL=mysql://lingxi:change-me-app-password@localhost:3306/lingxi_portal
REDIS_URL=redis://localhost:6379

API_PORT=3001
WEB_PORT=3000
WEB_ORIGIN=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=auto
API_INTERNAL_URL=http://localhost:3001
SITE_DOMAIN=5200918.xyz
BACKGROUND_UPLOAD_DIR=uploads/backgrounds
AVATAR_UPLOAD_DIR=uploads/avatars

JWT_ACCESS_SECRET=change-me-access-secret
JWT_ACCESS_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=change-me-refresh-token-secret
REFRESH_TOKEN_EXPIRES_IN_DAYS=30

ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change-me-admin-password
