{$SITE_DOMAIN:5200918.xyz} {
  encode zstd gzip

  handle /socket.io/* {
    reverse_proxy api:3001
  }

  handle_path /api/* {
    reverse_proxy api:3001
  }

  handle {
    reverse_proxy web:3000
  }
}
